.tracks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.track-card {
  background-color: #424242;
  width: 300px;
  height: auto;
  margin: 20px 50px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 25px 25px rgba(0,0,0,.5);
  transition: .5s ease-out;
}
.track-card:hover {
   transform: scale(1.05);
}
.track-card-text {
  font-size: 1rem;
  line-height: 25px;
  color: white;
}
.track-card-image {
  padding-bottom: 5px;
}
.track-card-image > img {
  border-radius: 50%;
}
.track-card-text > p {
  margin: 5px;
}
