.user_profile {
  margin: 20px auto;
  text-align: center;
  position: relative;
}
.user_profile > img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
.user_profile > p {
  padding-top: 5px;
}
.login_color {
  background-color: #04aa6de1;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  bottom: 27px;
  right: 170px;
}
.login_color:hover {
  background-color: #0c7a52;
}
