.main_content {
  display: grid;
  grid-template-columns: auto auto auto;
}
.sidebar {
  width: 400px;
}
.tracks_content {
  width: auto;
}
.tracks {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}