#search_form {
  width: 390px;
  margin: 20px auto;
  padding: 0px;
  border-radius: 5px;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
}
.search_input {
  flex-direction: row;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 200px;
  padding: 5px 10px;
  border-style: none;
  border-radius: 5px;
  box-shadow: #04aa6d;
  transition: width 0.4s ease-in-out;
}
.search_input:focus {
  width: 100%;
}
.search_button {
  background-color: #04aa6d;
  color: #fff;
  width: 65px;
  padding: 5px 10px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
}
button:hover {
  background-color: #0c7a52;
  transition: ease-out 0.5s;
}
svg {
  cursor: pointer;
}
