.header {
  background-color: #424242;
  width: 100vw;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: flex-end;
}
.header > h2 {
  padding: 30px 15px;
  font-size: 1.25rem;
}
.navigation_login, .navigation_logout {
  margin: 0px 10px 0px auto;
  padding: 20px 15px;
}
.navigation_login button,
.navigation_logout button {
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #04aa6d;
  border-style: none;
  border-radius: 5px;
}
.navigation_login button:hover,
.navigation_logout button:hover {
  background-color: #0c7a52;
  transition: ease-out 0.3s;
}
