.container_newPlaylist {
  margin: 20px auto;
}
.container_newPlaylist > h3 {
  text-align: center;
  padding: 0px 0px 10px 10px;
  font-size: 20px;
}
#form_createPlaylist {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button_newPlaylist {
  margin-top: 25px;
}
.playlist_button {
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 10px 20px;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
}
.playlist_button:hover {
  background-color: #0c7a52;
}
.newPlaylist_input {
  margin-top: 10px;
}
#playlist_title,
#playlist_description {
  width: 75%;
  margin: 5px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px 10px 15px;
  transition: width 0.4s ease-in-out;
}

#playlist_title:focus,
#playlist_description:focus {
  width: 90%;
}
