* {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #424242;
}
.App {
    text-align: center;
    background-color: #424242;
}
.Playlist {
  display: flex;
}
.Playlist-Card {
  margin: 10px;
  background-color: #FFB2B2;
}
img {
  border-radius: 50%;
}
button {
  border-radius: 50%;
  box-shadow: #424242;
}
