.login-bar {
  margin: 25px;
  display: flex;
  justify-content: center;
}
.login-bar button {
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #04AA6D;
  border-style: none;
  box-shadow: 0 5px #999;
}
.login-bar button:active{
  box-shadow: 0px 2px #999;
  transform: translateY(5px);
}
.search-bar {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.search-bar input {
  border-style: none;
  padding: 10px;
}
.search-bar button {
  background-color: #04AA6D;
  color: whitesmoke;
  border-style: none;
  padding: 10px;
  cursor: pointer;
}
.playlist-btn {
  margin: 0px 50px;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #04AA6D;
  border-style: none;
  box-shadow: 0 5px #999;
}
.playlist-btn:active {
  box-shadow: 0px 2px #999;
  transform: translateY(5px);
}
